.content-container{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.img-profile{
    align-self: center;
    justify-self: center;
    width: 200px;
    margin: 3rem 0;
    height: 150px;
    border: 3px solid var(--primary-color);
    border-radius: 15px;
}

.user-data-container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

.title-text{
    color: var(--primary-text-color);
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 2rem;
}

.text{
    color: var(--secundary-text-color);
    font-family: "Offside";
    font-size: 1rem;
}

.cv-button{
    background-color: var(--primary-button);
    width: 8.5rem;
    height: 2.5rem;
    margin-bottom: 10px;
    border-radius: 9px;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.cv-button:hover{
    background-color: var(--primary-color-light);
    transition: 0.3s ease;
    box-shadow: 0px 3px 10px var(--primary-color);
}

.cv-button:active{
    background-color: var(--primary-color-dark);
}

.about-container{
    margin-bottom: 2rem;
}

.about-title-container{
    margin-bottom: 1rem;
}

.title{
    color: var(--primary-text-color);
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 1.2rem;
}

.about-text-container{
    color: var(--secundary-text-color);
    font-family: "Offside";
    line-height: 1.6rem;
    font-size: 0.8rem;
}

/* my education section */

.education-content{
    display: flex;
    margin: 1rem 0;
    align-items: center;
}

.text-education-content{
    margin-left: 0.7rem;
}

.icons-content{
    width: 2rem;
    background-color: var(--primary-color);
    padding: 0.2rem;
    border-radius: 100%;
}

.title-education,.title-experience{
    font-family: "Open Sans";
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-text-color);
}

.description-education,.description-experience{
    font-family: "Offside";
    font-size: 0.8rem;
    color: var(--secundary-text-color);
}

/* my experience container */

.experience-title{
    margin-top: 1rem;
}

.experience-content{
    display: flex;
    margin: 1rem 0;
}

.text-experience-content{
    margin-left: 0.7rem;
}

.experience-description-container{
    line-height: 1.6rem;
    margin-bottom: 2rem;
    color: var(--secundary-text-color);
}

.experience-about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
    text-align: center;
}

.grid-title-experience{
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.grid-items-experience{
    color: var(--secundary-text-color);
}

