*{
    margin: 0;
}

html,body{
    padding: 0;
    padding-bottom: 3.5rem;
}

body{
    background-image: url(../assets/background/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    height: 100%;
}


/* Header Styles */

.header-menu{
    padding: 1.6vh;
}

.burger-button{
    cursor: pointer;
    width: 3.3rem;
    height: 3.3rem;
}

/* Slidebar Styles */

.slidebar-container{
    position: absolute;
    z-index: 3;
    background-color: var(--secundary-color);
    width: 60%;
    height: 100%;
}

.hidden-slidebar{
    display: none;
}

.button-slidebar-container{
   display: flex;
   justify-content: flex-end;
}

.data-user-profile{
    display: flex;
    flex-direction: column;
    margin-top: 1.1rem;
    align-items: center;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.icon-menu{
    width: 2.5rem;
}

.button-menu{
    display: flex;
    width: 90%;
    align-items: center;
    color: var(--secundary-text-color);
    justify-content: flex-start;
    margin-left: 2rem;
    gap: 1rem;
}

.button-menu:hover{
    box-shadow: -15px 0px 10px var(--primary-color);
    transition: 0.4s ease;
}

.img-profile-slidebar{
    border: 3px solid var(--primary-color);
    border-radius: 50px;
}

.title-profile-slidebar{
    color: var(--primary-color);
    font-weight: bold;
}

.description-profile-slidebar{
    color: var(--secundary-text-color);
    padding-bottom: 1.5rem;
}

.border-profile-slidebar{
    width: 80%;
    margin-bottom: 3rem;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, transparent, #00eaff, transparent) 1;
    box-shadow: 0px 5px 17px var(--primary-color);
}

.background-dark{
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #00000079;
}


button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* footer styles */

.footer-container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
    height: 3.5rem;
    color: var(--secundary-text-color);
    background-color: var(--secundary-color);

}