@import url(./globalVariables.css);

html,body{
    padding: 0;
    height: 100dvh;
    overflow-y: hidden;
}

/* Content Styles */

.parent-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-container{
    padding-top: 2rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

.img-profile{
    width: 197px;
    height: 163px;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
}

.title-text{
    font-family: "Open Sans";
    color:var(--primary-text-color);
    font-size: 2.813rem;
    margin: 6px 0px;
}

.text{
    font-family: "Offside";
    color: var(--secundary-text-color);
    font-size: 1rem;
    margin-bottom: 21px;
}

.cv-button{
    background-color: var(--primary-button);
    width: 8rem;
    height: 2rem;
    margin-bottom: 10px;
    border-radius: 9px;
    color: #FFFFFF;
}

.cv-button:hover{
    background-color: var(--primary-color-light);
    transition: 0.3s ease;
    box-shadow: 0px 3px 10px var(--primary-color);
}

.cv-button:active{
    background-color: var(--primary-color-dark);
}

.content-container-child:first-child{
    flex: 3;
    margin-bottom: 2rem;
}

.content-container-child:nth-child(2){
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1.8rem;
    flex: 0.6;
}

.contact-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secundary-button);
    border: 2px solid var(--primary-button);
    border-radius: 24px;
    width: 3rem;
    height: 3rem;
}

.contact-button:hover{
    transition: 0.3s ease;
    background-color: var(--primary-color);
}

.contact-button:active{
    background-color: var(--primary-color-dark);
}

.icons{
    width: 24px;
    height: 24px;
}

.content-container-child:last-child{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80dvw;
    flex: 4;
}

/* grid project styles */

.project-text{
    font-family: "Open Sans";
    color:var(--primary-text-color);
    font-size: 1.2rem;
    align-self: flex-start;
    margin: 1rem 0;
}

.grid-container{
    display: grid;
    align-items: center;
    justify-items: flex-start;
    height: 100%;
    gap: 10px;
    padding-bottom: 4rem;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
}

.grid-elements{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.img-project-1{
    background-image: url(../assets/img/example-project.png);
    position: relative;
}

.img-project-2{
    background-image: url(../assets/img/example-project.png);
    position: relative;
}
.img-project-3{
    background-image: url(../assets/img/example-project.png);
    position: relative;
}
.img-project-4{
    background-image: url(../assets/img/example-project.png);
    position: relative;
}

.grid-elements::before{
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.grid-elements:hover::before{
    background-color: rgba(0, 0, 0, 0.45);
}


.title-project{
    position: relative;
    color: #FFFFFF;
    margin-bottom: 0.3rem;
    margin-left: 1rem;
    z-index: 2;
}

.description-project{
    position: relative;
    color: #21A4D9;
    margin-left: 1rem;
    z-index: 2;
}
