@import url(./globalVariables.css);

*{
    margin: 0;
}

html,body{
    padding: 0;
    height: 100dvh;
    overflow-y: hidden;
}

body{
    background-image: url(../assets/background/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    height: 100%;
}


.header-menu{
    padding: 1.6vh;
}

.burger-button{
    cursor: pointer;
    width: 3.3rem;
    height: 3.3rem;
}

.parent-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-container{
    padding-top: 2rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

.img-profile{
    width: 197px;
    height: 163px;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
}

.title-text{
    font-family: "Open Sans";
    color:var(--primary-text-color);
    font-size: 2.813rem;
    margin: 6px 0px;
}

.text{
    font-family: "Offside";
    color: var(--secundary-text-color);
    font-size: 1rem;
    margin-bottom: 21px;
}

.cv-button{
    background-color: var(--primary-button);
    width: 8rem;
    height: 2rem;
    margin-bottom: 10px;
    border-radius: 9px;
}


.content-container-child:first-child{
    flex: 3;
    margin-bottom: 2rem;
}

.content-container-child:nth-child(2){
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1.8rem;
    flex: 0.6;
}

.contact-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secundary-button);
    border: 2px solid var(--primary-button);
    border-radius: 24px;
    width: 3rem;
    height: 3rem;
}

.icons{
    width: 24px;
    height: 24px;
}

.content-container-child:last-child{
    display: flex;
    flex-direction: column;
    width: 80dvw;
    flex: 4;
}

.project-text{
    font-family: "Open Sans";
    color:var(--primary-text-color);
    font-size: 1.2rem;
    align-self: flex-start;
    margin: 1rem 1rem;
}

.grid-container{
    display: grid;
    align-items: center;
    justify-items: flex-start;
    height: 100%;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
}

.grid-elements{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.img-project-1{
    background-image: url(../assets/img/example-project.png);

}
.img-project-2{
    background-image: url(../assets/img/example-project.png);
}
.img-project-3{
    background-image: url(../assets/img/example-project.png);
}
.img-project-4{
    background-image: url(../assets/img/example-project.png);
}

.title-project{
    color: #FFFFFF;
    margin-bottom: 0.3rem;
    margin-left: 1rem;
}

.description-project{
    color: #21A4D9;
    margin-left: 1rem;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    color: var(--secundary-text-color);
    background-color: var(--secundary-color);

}


/* Slidebar Styles */

.slidebar-container{
    position: absolute;
    background-color: var(--secundary-color);
    width: 60%;
    height: 100%;
}

.hidden-slidebar{
    display: none;
}

.button-slidebar-container{
   display: flex;
   justify-content: flex-end;
}

.data-user-profile{
    display: flex;
    flex-direction: column;
    margin-top: 1.1rem;
    align-items: center;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.icon-menu{
    width: 2.5rem;
}

.button-menu{
    display: flex;
    align-items: center;
    color: var(--secundary-text-color);
    justify-content: flex-start;
    margin-left: 2rem;
    gap: 1rem;
}

.img-profile-slidebar{
    border: 3px solid var(--primary-color);
    border-radius: 50px;
}

.title-profile-slidebar{
    color: var(--primary-color);
    font-weight: bold;
}

.description-profile-slidebar{
    color: var(--secundary-text-color);
    padding-bottom: 1.5rem;
}

.border-profile-slidebar{
    width: 80%;
    margin-bottom: 3rem;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, transparent, #00eaff, transparent) 1;
    box-shadow: 0px 5px 17px var(--primary-color);
}


.background-dark{
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 100;
    background-color: #00000079;
}

button{
    border: none;
    background-color: transparent;
}